.services {
  padding: 2% 15%;
}
.services .service {
  margin: 3% auto;
}
.services .service p {
  color: #eee;
}

.booking_button {
  text-align: right;
}

.services .service a {
  margin-top: 100px;
  background: none;
  border: 2px solid #357ae8;
  color: #357ae8;
  font-weight: 900;
  padding: 1.5% 3.5%;
}

.services .service a:hover {
  background: #357ae8;
  color: #ccc;
  border: 2px solid #357ae8;
}
