.nodisplay {
  display: none;
}
.nav-above a {
  color: #fff;
}
.nav-above a:hover {
  color: #ff5f6d;
}
.nav-above span.active {
  color: #ff5f6d;
}
.rd-navbar-inner {
  max-width: none;
}
.image-nav {
  font-weight: bold;
}
.rd-navbar-static.rd-navbar--is-stuck1 {
  position: relative;
  background: none;
}


/*#ui-datepicker-div {
  background: #500032;
  padding: 1%;
}*/
